/* nevigatin section */

#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* home  section*/
#home{
    height: 266px;
    padding: 0px 10px;
   
}

#home::before{
    height: 400px;
}

#home p{
font-size: 18px;
}

/* services section  */

#services{
    flex-direction: column;
}

#services .box{
padding: 34px;
margin: 2px 0px;

}
/* client section  */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    padding:2px 6px;
    height: auto;
}



/* contact us sectin  */
#contact-box form{
    width: 80%;
}




/* footer section  */


/* utility classes */
.h-primary{
    font-size: 28px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}